#barNav{
    background-color: rgba(224, 231, 205, 0.4);
}

#avatar{
    margin-bottom: 35px;
    margin-right: 20px;
}

#login_btn{
    margin-bottom: 10px;
    margin-left: 10px;
}

.register_form{
    position: relative;
    justify-content: center;
    display: inline-block;
}
